
#################
## environment ##
#################
# If live, it should production
NODE_ENV=development
APP_NAME=Genstore
ALLOW_CORS=true
# For live env, it should be 8080 or any port you want
PORT=9000

## Change by your app secret
SESSION_SECRET=123141413

# This name will show in the Email content
SITE_NAME=Genstore
# API url, remember add / at the end
baseUrl=http://localhost:9000/
logoUrl=http://localhost:9000/assets/logo.png

# Social link or email template
facebookUrl=https://facebook.com
twitterUrl=http://twitter.com

## Web base
userWebUrl=https://genstore.com/
sellerWebUrl=https://seller.genstore.com/
adminWebUrl=https://admin.genstore.com/

#############
## mongodb ##
#############

MONGO_URI=mongodb://localhost/genstore-dev

#############
## redis   ##
#############

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASS=
REDIS_URL=redis://localhost:6379/0

## queue
QUEUE_PREFIX=queue

############
## agenda ##
############

AGENDA_COLLECTION_NAME=agenda
AGENDA_MAX_CONCURRENCY=6

## mailing
SENDGRID_API_KEY=xxxxx
SPARKPOST_API_KEY=xxx
# Just need spart post or sendgrid. Depend on your choosen service
MAIL_SERVICE=sparkpost
# Sender email
mailFrom=admin@mail.com

# Email for contact page
ADMIN_EMAIL=admin@genstore.

## File size limit in MB
MAX_PHOTO_SIZE=10
MAX_VIDEO_SIZE=200
MAX_FILE_SIZE=100

## Config for avatar. in pixel
AVATAR_SIZE_WIDTH=250
AVATAR_SIZE_HEIGHT=250

## Photo size
in pixel (when uploading a new photo in media module)
PHOTO_THUMB_WIDTH=250
PHOTO_THUMB_HEIGHT=250
PHOTO_MEDIUM_WIDTH=600
PHOTO_MEDIUM_HEIGHT=600
## Background color when resize thumb image, if image is not fit, we need to fill background image here
## Color suppor transparent and color code (can check here https://html-color-codes.info/)
PHOTO_RESIZE_BACKGROUND_COLOR=transparent


## Config for s3 file
USE_S3=false
AWS_S3_BUCKET=xxx
AWS_S3_REGION=xxx
AWS_S3_USERNAME=xxx
AWS_S3_ACCESS_KEY=xxx
AWS_S3_SECRET_KEY=Txxx
## If not provided, we will get url from the bucket and region, include bucket or domain of bucket
AWS_S3_BASE_URL=https://s3-sa-east-1.amazonaws.com/your-bucket

# Information from Twilio config
SMS_FROM=+13232xxxxx
SMS_SID=ACaxxxxxxxxx
SMS_AUTH_TOKEN=950cd6xxxxxxxxx

EMAIL_NOTIFICATION_COMPLAIN=admin@genstore.com
EMAIL_NOTIFICATION_LOW_STOCK=admin@genstore.com
EMAIL_NOTIFICATION_REPORT=admin@genstore.com
EMAIL_NOTIFICATION_REFUND=admingenstore@yopmail.com
EMAIL_NOTIFICATION_NEW_SHOP=admingenstore@yopmail.com
EMAIL_NOTIFICATION_PAYOUT_REQUEST=admingenstore@yopmail.com

# Quantity alert to admin and seller. If product quantity is lower than this number
# an email will be sent when user ordered this product
LOW_QUALITY_QUANTITY=1

# Stripe information for charge
STRIPE_API_SECRET=sk_test_3JufSICAFsZNPv4bnH6SpsPT
STRIPE_API_PUBLIC=pk_test_Z3rf3HSfsokHl4lLFTBxhZrZ

# Paypal API info for payment
# use sandbox or liv
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=AcBqoxAt02lIEP1MkHLV8HVnVOv0Rffx_R3TsQ49BXGBLX8NzEILBzLW5EVl
PAYPAL_CLIENT_SECRET=ENjHvhAKMWMYE-b5Uy3gAm31AZgF97-j03I11a8qL14rgEHOqfvTEnqYjU4V

# Website currency store wide. Use 3-character ISO-4217
# The currency MUST match with Paypal / Stripe currency which they support
# Check here https://developer.paypal.com/docs/classic/mass-pay/integration-guide/currency_codes/
SITE_CURRENCY=USD

# website will receive 20% in order total
# This value will be shown in the earning data
COMMISSION_RATE=0.2

# currency rate api https://www.currencyconverterapi.com/
# Use this api for currency exchange.
CURRENCY_CONVERT_API_KEY=

# yandex api key for translation. Use in dev
YANDEX_API_KEY=trnsl.1.1......

## pusher https://dashboard.pusher.com
# Service for live chat message
PUSHER_APP_ID=591974
PUSHER_KEY=8cbf727dad3c8ce84888
PUSHER_SECRET=ee819750215e0a0fb335
PUSHER_CLUSTER=ap1

# Twitter login
TWITTER_CONSUMER_API_KEY=xxxxx
TWITTER_CONSUMER_SECRET=xxxx

## Google geo API
GOOGLE_GEOCODE_API_KEY=AIzaSyDGBeXG1vkFY6ue4.......

## Request payout
## prevent user to send too many requests per day but status still is pending
MAX_PAYOUT_REQUEST_PER_DAY=3